@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CCFI Inventory System Management</h1>
    <p class="lead">ISM is the new IT Asset Management System deployed for tracking and entering all assets. </p>
    <p><a href="../home/ViewAssets" class="btn btn-primary btn-lg">View Current Assets!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Adding assets is very easy! All you need to do is enter the required fields in the Add Assets tab then click create!
        </p>
        <p><a class="btn btn-default" href="../home/Inventory">Learn more &raquo;</a></p>
    </div>
</div>